<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjetas del Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Tarjetas de {{ user.username }}</h2>
    <p class="text-center">Aquí están las tarjetas asociadas a tu perfil.</p>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID de Tarjeta</th>
                    <th>Marca de la Tarjeta</th>
                    <th>Tipo de Tarjeta</th>
                    <th>Fecha de Vencimiento</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                    <tr>
                        <td>{{ card.card_id }}</td>
                        <td>{{ card.fk_card_brand.card_brand_name }}</td>
                        <td>{{ card.card_type }}</td>
                        <td>{{ card.card_expire_date }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No tienes tarjetas asociadas.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        <a href="{% url 'home' %}" class="btn btn-primary">Volver al Inicio</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>